/* CSS Document */

body{
	padding:0;
	margin:0;
}
div, h1, h2, p, form, label, input, textarea, img{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
}
.spacer{
	clear:both; 
	font-size:0px; 
	line-height:0px;
}
/*------------------------------------------------body--------------------*/

/*------------------------------------------------nav start--------------------*/
#top{
	background:url(../images/top_bg.gif) 0 0 repeat-x;
	height:18px;
	padding:22px 0 4px 0;
}
#nav-main{
	width:778px;
	margin:0 auto;
	height:18px;
}
#nav{
	width:548px;
	margin:0 0 0 222px;
	height:18px;
}
#nav ul{
	width:548px;
	height:18px;
	margin:0;
	padding:0;
}
#nav ul li{
	width:90px;
	height:18px;
	float:left;
}
#nav ul li.home{
	height:18px;
	width:90px;
	font:bold 12px/18px Arial, Helvetica, sans-serif;
	color:#494949;
	background:url(../images/nav_hover.gif) 0 0 no-repeat #ffffff;
	text-decoration:none;
	text-align:center;
	text-transform:capitalize;
	float:left;
}
#nav ul li a{
	display:block;
	width:90px;
	font:bold 12px/18px Arial, Helvetica, sans-serif;
	color:#494949;
	background-color:#ffffff;
	text-decoration:none;
	text-align:center;
	text-transform:capitalize;
}
#nav ul li a:hover{
	background:url(../images/nav_hover.gif) 0 0 no-repeat;
	width:90px;
	height:18px;
}
/*------------------------------------------------nav end--------------------*/

/*------------------------------------------------header start--------------------*/
#header-main{
	background:url(../images/header_bg.gif) 0 0 repeat-x;
	height:261px;
}
#header{
	width:778px;
	margin:0 auto;
	background:url(../images/header.gif) 237px 0 no-repeat;
	height:261px;
	position:relative;
}
#logo{
	display:block;
	width:237px;
	background:url(../images/logo_bg.gif) 0 0 repeat-y;
	height:236px;
	margin:8px 0 0 0;
	float:left;
}
#logo img{
	margin:30px 0 0 42px;
}
#logo h2{
	width:132px;
	height:23px;
	margin:21px 0 9px 53px;
	border-bottom:#BBBBBB dashed 1px;
	background:url(../images/serch_icon.gif) 0 0 no-repeat #fff;
	font:normal 22px/23px Georgia, "Times New Roman", Times, serif;
	color:#948004;
	text-align:right;
}
#logo input.txt{
	width:120px;
	height:24px;
	background-color:#F5F5F5;
	color:#000000;
	font:normal 12px/24px Arial, Helvetica, sans-serif;
	border:#D3D3D3 solid 1px;
	margin:0 0 8px 53px;
	padding:0 0 0 13px;
}
#logo input.serch{
	margin:0 0 0 141px;
	padding:0;
}
/*------------------------------------------------header end--------------------*/

/*------------------------------------------------body start--------------------*/
#body{
	width:778px;
	margin:0 auto;
	position:relative;
}
/*------------------------------------------------left panel start--------------------*/
#left{
	width:237px;
	float:left;
}
#member-login{
	width:161px;
	height:195px;
	margin:7px 0 0 41px;
}
#member-login form{
	border-bottom:#494949 dashed 1px;
	height:162px;
}
#member-login h2{
	display:block;
	background:url(../images/member_login_bg.gif) 0 0 no-repeat #F7F3C6;
	width:148px;
	height:27px;
	font:bold 16px/27px Georgia, "Times New Roman", Times, serif;
	color:#615402;
	padding:0 0 0 11px;
	margin:0 0 7px 0;
}
#member-login label{
	font:normal 12px/19px Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:#ffffff;
	margin:0 0 0 12px;
}
#member-login label.pass{
	font:normal 12px/19px Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:#ffffff;
	margin:2px 0 0 12px;
}
#member-login input.txt2{
	width:133px;
	height:24px;
	background-color:#F5F5F5;
	color:#000000;
	font:normal 12px/24px Arial, Helvetica, sans-serif;
	border:#D3D3D3 solid 1px;
	margin:0 0 0 12px;
	padding:0;
}
#member-login input.txt3{
	width:133px;
	height:24px;
	background-color:#F5F5F5;
	color:#000000;
	font:normal 12px/24px Arial, Helvetica, sans-serif;
	border:#D3D3D3 solid 1px;
	margin:0 0 13px 12px;
	padding:0;
}
#member-login label.dash{
	display:block;
	width:37px;
	height:13px;
	background:url(../images/form_div.gif) 0 0 repeat-x;
	padding:0 0 0 12px;
	margin:0;
	position:absolute;
	left:54px;
	top:142px;
	float:left;
}
.f-password{
	padding:0;
	position:absolute;
	left:90px;
	top:142px;
}
#member-login label.dash2{
	display:block;
	width:37px;
	height:13px;
	background:url(../images/form_div.gif) 0 0 repeat-x;
	padding:0 0 0 12px;
	margin:0;
	position:absolute;
	left:54px;
	top:159px;
	float:left;
}
.register{
	padding:0;
	position:absolute;
	left:90px;
	top:159px;
}
.btn-login{
	position:absolute;
	left:141px;
	top:178px;
}
#newsletter{
	width:159px;
	height:113px;
	margin:16px 0 0 41px;
}
#newsletter h2.n{
	display:block;
	width:148px;
	height:27px;
	background:url(../images/newsletter_bg.gif) 0 0 no-repeat #ABAAAA;
	font:bold 16px/27px Georgia, "Times New Roman", Times, serif;
	color:#ffffff;
	padding:0 0 0 11px;
	margin:0 0 5px 0;
}
#newsletter label.em{
	font:normal 12px/19px Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:#ffffff;
	margin:0 0 0 12px;
	padding:0;
}
#newsletter input.txt4{
	width:133px;
	height:24px;
	background-color:#F5F5F5;
	color:#000000;
	font:normal 12px/24px Arial, Helvetica, sans-serif;
	border:#D3D3D3 solid 1px;
	margin:0 0 10px 12px;
	padding:0;
}
.btn-login-yellow{
	float:right;
	margin:0 14px 0 0;
}
#newsletter form{
	border-bottom:#494949 dashed 1px;
	height:81px;
}
#contact{
	width:161px;
	height:295px;
	margin:18px 0 0 41px;
}
#contact form{
	border:none;
	height:257px;
}
#contact h2{
	display:block;
	background:url(../images/member_login_bg.gif) 0 0 no-repeat #F7F3C6;
	width:148px;
	height:27px;
	font:bold 16px/27px Georgia, "Times New Roman", Times, serif;
	color:#615402;
	padding:0 0 0 11px;
	margin:0 0 12px 0;
}
#contact label.con{
	font:normal 12px/19px Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:#ffffff;
	margin:0 0 3px 12px;
	padding:0;
}
#contact input.txt5{
	width:133px;
	height:24px;
	background-color:#F5F5F5;
	color:#000000;
	font:normal 12px/24px Arial, Helvetica, sans-serif;
	border:#D3D3D3 solid 1px;
	margin:0 0 4px 12px;
	padding:0;
}
#contact textarea{
	width:133px;
	height:64px;
	background-color:#F5F5F5;
	color:#000000;
	font:normal 12px/24px Arial, Helvetica, sans-serif;
	border:#D3D3D3 solid 1px;
	margin:0 0 0 12px;
	padding:0;
}
.reset{
	margin:10px 8px 0 40px;
	border:none;
}
/*------------------------------------------------left panel end--------------------*/

/*------------------------------------------------right panel start--------------------*/
#right-panel{
	width:541px;
	float:left;
	position:relative;
}
#right-panel h2{
	width:186px;
	font:normal 40px/41px Georgia, "Times New Roman", Times, serif;
	color:#948004;
	background-color:#ffffff;
	margin:0 0 14px 6px;
}
#right-panel p{
	font:normal 13px/18px Verdana, Arial, Helvetica, sans-serif;
	color:#494949;
	background-color:#FFFFFF;
	padding:0 18px 0 0;
	margin:0 0 0 7px;
}
#right-panel span{
	font:bold 13px/18px Verdana, Arial, Helvetica, sans-serif;
	color:#948004;
	background-color:#FFFFFF;
	padding:0;
	margin:0;
}
#right-panel p.h-div{
	display:block;
	background:url(../images/highlights_div.gif) 0 0 repeat-x;
	width:434px;
	height:40px;
	padding:0;
	margin:0;
}
#right-panel a.black{
	display:block;
	background:url(../images/more_info_bg.gif) 0 0 no-repeat #494949;
	width:68px;
	height:13px;
	font:bold 11px/13px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-align:center;
	position:absolute;
	left:442px;
	top:225px;
	text-decoration:none;
}
#right-panel a.black:hover{
	color:#ffffff;
	background:url(../images/more_info_bg_hover.gif) 0 0 no-repeat #494949;
}
#right-panel-pic1{
	width:105px;
	float:left;
	padding:0;
	margin:0; background:url(../images/r_box_bg.gif) 0 0 repeat-y;
}
#right-panel-pic1 p.top{
	display:block;
	background:url(../images/r_box_top.gif) 0 0 no-repeat;
	width:105px;
	height:17px;
	margin:0 0 0 0;
	padding:0;
}
#right-panel-pic1 p.mid{
	display:block;
	background:url(../images/pic1.gif) no-repeat 0 0;	
	width:105px;
	height:110px;
	padding:0;
	margin:0;
}

#right-panel-pic1 h2.think{
	display:block;
	width:69px;
	height:18px;
	margin:0 0 0 9px;
	padding:0;
	font:bold 14px/18px Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:#ffffff;
	text-transform:uppercase;
	border-bottom:#B0B0B0 dashed 1px;
}
#right-panel-pic1 p.text{
	display:block;
	font:normal 12px/16px Verdana, Arial, Helvetica, sans-serif;
	color:#948004;
	background-color:#ffffff;
	margin:0;
	padding:0 0 0 12px ;
	width:79px;
}
#right-panel-pic1 a.yellow{
	display:block;
	width:68px;
	height:13px;
	background:url(../images/more_info_bg_yellow.gif) 0 0 no-repeat #948004;
	color:#ffffff;
	text-align:center;
	font:bold 11px/13px Arial, Helvetica, sans-serif;
	text-decoration:none;
	margin:12px 0 0 13px;
}
#right-panel-pic1 a.yellow:hover{
	color:#000000;
	background:url(../images/more_info_bg_yellow_hover.gif) 0 0 no-repeat #948004;
}
#right-panel-pic1 p.bot{
	display:block;
	background:url(../images/r_box_bot.gif) 0 0 no-repeat;
	width:105px;
	height:16px;
	margin:0 0 0 0;
	padding:0;
}
#right-panel-pic2{
	width:105px;
	float:left;
	padding:0;
	margin:0; background:url(../images/r_box_bg.gif) 0 0 repeat-y;
}
#right-panel-pic2 p.top{
	display:block;
	background:url(../images/r_box_top.gif) 0 0 no-repeat;
	width:105px;
	height:17px;
	margin:0 0 0 0;
	padding:0;
}
#right-panel-pic2 p.mid{
	display:block;
	background:url(../images/pic2.gif) no-repeat 0 0;	
	width:105px;
	height:110px;
	padding:0;
	margin:0;
}

#right-panel-pic2 h2.think{
	display:block;
	width:69px;
	height:18px;
	margin:0 0 0 9px;
	padding:0;
	font:bold 14px/18px Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:#ffffff;
	text-transform:uppercase;
	border-bottom:#B0B0B0 dashed 1px;
}
#right-panel-pic2 p.text{
	display:block;
	font:normal 12px/16px Verdana, Arial, Helvetica, sans-serif;
	color:#948004;
	background-color:#ffffff;
	margin:0;
	padding:0 0 0 12px ;
	width:79px;
}
#right-panel-pic2 a.yellow{
	display:block;
	width:68px;
	height:13px;
	background:url(../images/more_info_bg_yellow.gif) 0 0 no-repeat #948004;
	color:#ffffff;
	text-align:center;
	font:bold 11px/13px Arial, Helvetica, sans-serif;
	text-decoration:none;
	margin:12px 0 0 13px;
}
#right-panel-pic2 a.yellow:hover{
	color:#000000;
	background:url(../images/more_info_bg_yellow_hover.gif) 0 0 no-repeat #948004;
}
#right-panel-pic2 p.bot{
	display:block;
	background:url(../images/r_box_bot.gif) 0 0 no-repeat;
	width:105px;
	height:16px;
	margin:0 0 0 0;
	padding:0;
}
#right-panel-pic3{
	width:105px;
	float:left;
	padding:0;
	margin:0; background:url(../images/r_box_bg.gif) 0 0 repeat-y;
}
#right-panel-pic3 p.top{
	display:block;
	background:url(../images/r_box_top.gif) 0 0 no-repeat;
	width:105px;
	height:17px;
	margin:0 0 0 0;
	padding:0;
}
#right-panel-pic3 p.mid{
	display:block;
	background:url(../images/pic3.gif) no-repeat 0 0;	
	width:105px;
	height:110px;
	padding:0;
	margin:0;
}

#right-panel-pic3 h2.think{
	display:block;
	width:69px;
	height:18px;
	margin:0 0 0 9px;
	padding:0;
	font:bold 14px/18px Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:#ffffff;
	text-transform:uppercase;
	border-bottom:#B0B0B0 dashed 1px;
}
#right-panel-pic3 p.text{
	display:block;
	font:normal 12px/16px Verdana, Arial, Helvetica, sans-serif;
	color:#948004;
	background-color:#ffffff;
	margin:0;
	padding:0 0 0 12px ;
	width:79px;
}
#right-panel-pic3 a.yellow{
	display:block;
	width:68px;
	height:13px;
	background:url(../images/more_info_bg_yellow.gif) 0 0 no-repeat #948004;
	color:#ffffff;
	text-align:center;
	font:bold 11px/13px Arial, Helvetica, sans-serif;
	text-decoration:none;
	margin:12px 0 0 13px;
}
#right-panel-pic3 a.yellow:hover{
	color:#000000;
	background:url(../images/more_info_bg_yellow_hover.gif) 0 0 no-repeat #948004;
}
#right-panel-pic3 p.bot{
	display:block;
	background:url(../images/r_box_bot.gif) 0 0 no-repeat;
	width:105px;
	height:16px;
	margin:0 0 0 0;
	padding:0;
}
#right-panel-pic4{
	width:105px;
	float:left;
	padding:0;
	margin:0; background:url(../images/r_box_bg.gif) 0 0 repeat-y;
}
#right-panel-pic4 p.top{
	display:block;
	background:url(../images/r_box_top.gif) 0 0 no-repeat;
	width:105px;
	height:17px;
	margin:0 0 0 0;
	padding:0;
}
#right-panel-pic4 p.mid{
	display:block;
	background:url(../images/pic4.gif) no-repeat 0 0;	
	width:105px;
	height:110px;
	padding:0;
	margin:0;
}

#right-panel-pic4 h2.think{
	display:block;
	width:69px;
	height:18px;
	margin:0 0 0 9px;
	padding:0;
	font:bold 14px/18px Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:#ffffff;
	text-transform:uppercase;
	border-bottom:#B0B0B0 dashed 1px;
}
#right-panel-pic4 p.text{
	display:block;
	font:normal 12px/16px Verdana, Arial, Helvetica, sans-serif;
	color:#948004;
	background-color:#ffffff;
	margin:0;
	padding:0 0 0 12px ;
	width:79px;
}
#right-panel-pic4 a.yellow{
	display:block;
	width:68px;
	height:13px;
	background:url(../images/more_info_bg_yellow.gif) 0 0 no-repeat #948004;
	color:#ffffff;
	text-align:center;
	font:bold 11px/13px Arial, Helvetica, sans-serif;
	text-decoration:none;
	margin:12px 0 0 13px;
}
#right-panel-pic4 a.yellow:hover{
	color:#000000;
	background:url(../images/more_info_bg_yellow_hover.gif) 0 0 no-repeat #948004;
}
#right-panel-pic4 p.bot{
	display:block;
	background:url(../images/r_box_bot.gif) 0 0 no-repeat;
	width:105px;
	height:16px;
	margin:0 0 0 0;
	padding:0;
}
#right-panel-pic5{
	width:105px;
	float:left;
	padding:0;
	margin:0; background:url(../images/r_box_bg.gif) 0 0 repeat-y;
}
#right-panel-pic5 p.top{
	display:block;
	background:url(../images/r_box_top.gif) 0 0 no-repeat;
	width:105px;
	height:17px;
	margin:0 0 0 0;
	padding:0;
}
#right-panel-pic5 p.mid{
	display:block;
	background:url(../images/pic5.gif) no-repeat 0 0;	
	width:105px;
	height:110px;
	padding:0;
	margin:0;
}

#right-panel-pic5 h2.think{
	display:block;
	width:69px;
	height:18px;
	margin:0 0 0 9px;
	padding:0;
	font:bold 14px/18px Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:#ffffff;
	text-transform:uppercase;
	border-bottom:#B0B0B0 dashed 1px;
}
#right-panel-pic5 p.text{
	display:block;
	font:normal 12px/16px Verdana, Arial, Helvetica, sans-serif;
	color:#948004;
	background-color:#ffffff;
	margin:0;
	padding:0 0 0 12px ;
	width:79px;
}
#right-panel-pic5 a.yellow{
	display:block;
	width:68px;
	height:13px;
	background:url(../images/more_info_bg_yellow.gif) 0 0 no-repeat #948004;
	color:#ffffff;
	text-align:center;
	font:bold 11px/13px Arial, Helvetica, sans-serif;
	text-decoration:none;
	margin:12px 0 0 13px;
}
#right-panel-pic5 a.yellow:hover{
	color:#000000;
	background:url(../images/more_info_bg_yellow_hover.gif) 0 0 no-repeat #948004;
}
#right-panel-pic5 p.bot{
	display:block;
	background:url(../images/r_box_bot.gif) 0 0 no-repeat;
	width:105px;
	height:16px;
	margin:0 0 0 0;
	padding:0;
}
#right-panel p.quote{
	display:block;
	width:395px;
	height:99px;
	background:url(../images/coma.gif) 0 0 no-repeat #ffffff;
	padding:0 0 0 109px;
	margin:15px 0 0 0;
	font:italic 15px/19px Georgia, "Times New Roman", Times, serif;
	color:#626262;
	float:left;
}
#right-panel p.quote span{
	font:italic 18px/61px Georgia, "Times New Roman", Times, serif;
	color:#948004;
	background-color:#ffffff;
	float:right;
}
/*------------------------------------------------right panel end--------------------*/
	
/*------------------------------------------------body end--------------------*/

/*------------------------------------------------footer start--------------------*/
#footer-main{
	width:100%;
	background:url(../images/footer_bg.gif) 0 0 repeat-x;
	height:135px;
	float:left;
}
#footer{
	width:427px;
	margin:0 auto;
	background:url(../images/footer_bg2.gif) 0 0 no-repeat;
	height:97px;
	padding:38px 0 0 351px;
	position:relative;
}
#footer ul{
	display:block;
	padding:0;
	margin:0;
	float:left;
}
#footer ul li{
	font:bold 11px/13px Arial, Helvetica, sans-serif;
	margin:0;
	float:left;
	text-transform:capitalize;
	border-right:#3E3E3E solid 1px;
}
#footer ul li a{
	font:bold 11px/13px Arial, Helvetica, sans-serif;
	color:#3E3E3E;
	background-color:#D4D4D4;
	text-transform:capitalize;
	text-decoration:none;
	float:left;
	margin:0 8px 0 8px;
}
#footer ul li a:hover{
	text-decoration:underline;
}
#footer ul li.home{
	font:bold 11px/13px Arial, Helvetica, sans-serif;
	color:#3E3E3E;
	background-color:#D4D4D4;
	text-transform:capitalize;
	text-decoration:none;
	float:left;
	padding:0 8px 0 8px;
	border-right:#3E3E3E solid 1px;
}
#footer ul li.nobdr{
	font:normal 13px/13px Arial, Helvetica, sans-serif;
	color:#3E3E3E;
	background-color:#D4D4D4;
	border-right:none;
	margin:0;
	padding:0;;
	float:left;
}
#footer p.copyright{
	display:block;
	width:277px;
	height:32px;
	margin:0 0 3px 0;
	padding:0 25px 0 0;
	font:normal 12px/21px Arial, Helvetica, sans-serif;
	color:#6C5D02;
	background-color:#D4D4D4;
	float:right;
}
#footer a.xht{
	width:48px;
	height:14px;
	float:right;
	background-color:#030303;
	color:#ffffff;
	font:bold 11px/14px Arial, Helvetica, sans-serif;
	text-align:center;
	margin:0 4px 0 0;
	text-decoration:none;
	text-transform:uppercase;
}
#footer a.xht:hover{
	background-color:#6A6A6A;
	color:#ffffff;
}
#footer a.cs{
	width:36px;
	height:14px;
	float:right;
	background-color:#948004;
	color:#ffffff;
	font:bold 11px/14px Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
}
#footer a.cs:hover{
	background-color:#6A6A6A;
	color:#ffffff;
}
#footer p.design{
	display:block;
	width:161px;
	height:17px;
	position:absolute;
	left:595px;
	top:105px;
	font:normal 12px/17px Arial, Helvetica, sans-serif;
	color:#414141;
	background-color:#ffffff;
	text-align:center;
}
#footer a.link{
	font:bold 12px/17px Arial, Helvetica, sans-serif;
	color:#414141;
	background-color:#ffffff;
	text-align:center;
	text-decoration:none;
}
#footer a.link:hover{
	color:#528B01;
	background-color:#ffffff;
}
	
/*-----------------------------------------------footer end--------------------*/
